{% extends 'base.html' %}

{% load cms_tags %}
{% load sekizai_tags %}
{% load background_tags  %}
{% load static from staticfiles %}
{% load url from future %}
{% load i18n %}

{% block meta_title %}{% trans 'Home' %} - {{ block.super }}{% endblock %}
{% block meta_description %}{% trans 'PyCon Home' %}{% endblock %}

{% block css %}
{{ block.super }}
<link href="{% static 'css/main.css' %}" rel="stylesheet">
{% endblock %}

{% block class %}index{% endblock %}

{% block slider %}
<a class="button button-blue register" href="{% url 'account:sign_up' %}">{% trans 'Register now!' %}</a>
<a class="button button-yellow talks" href="{% url 'main:talks' %}">{% trans 'View talks' %}</a>
<div class="flexslider">
    <ul class="slides">
        {% backgrounds 'pyconuy' %}
        {% for background in backgrounds %}
        <li>
            <div class="slider-box">
                <section class="{{ background.box_css_class }}">
                    <header>
                        <h1>{{ background.title }}</h1>
                    </header>
                    <p>{{ background.description }}</p>
                </section>
            </div>
            <div class="notes">
                <a rel="nofollow" href="https://maps.google.com/maps?q={{ background.latitude }},{{ background.longitude }}">{{ background.place }}</a>{% if background.author %} {% trans 'by' %} <a href="{{ background.source }}" rel="nofollow">{{ background.author }}</a>{% endif %}
            </div>
            <img src="{{ background.image.url }}" />
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block content %}
    <div class="row speakers">
        <div class="span12">
            {% load i18n placeholder_tags cmsplugin_blog_tags simple_translation_tags %}
            {% for entry in entries|annotate_with_translations %}
                {% with entry|get_preferred_translation_from_request:request as title %}
                    {% with entry.placeholders|choose_placeholder:"excerpt" as excerpt %}
                        <h1><a href="{{ title.get_absolute_url }}">{{ title }}</a></h1>
                        {% render_placeholder excerpt %}
                    {% endwith %}
                {% endwith %}
            {% endfor %}
            <a class="button button-blue pull-right" href="{% page_url 'blog' %}">{% trans 'Blog' %}</a>
        </div>
    </div>
    {% if config.show_sponsors %}
    <div class="row sponsors">
        <div class="span12">
            <h1>{% trans 'Sponsors' %}<small class="small">{% trans 'What important companies are behind this?' %}</small></h1>
            {% regroup sponsors by level as sponsors_grouped %}
            {% for sponsor_group in sponsors_grouped %}
            <div class="row sponsor-level {{sponsor_group.grouper.name}}">
                <div class="span2"><h2>{{ sponsor_group.grouper.name }}</h2></div>
                <div class="span10">
                    {% for sponsor in sponsor_group.list %}
                    <a class="sponsor-logo" href="{{ sponsor.external_url }}">
                        <img src="{{ sponsor.website_logo_url }}" alt="{{ sponsor }}" />
                    </a>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            <div class="row">
                <div class="span3 offset9">
                    <a class="button button-blue" href="{% url 'main:sponsors' %}">{% trans 'View full list of Sponsors' %}</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="span6">
            <div class="row">
                <div class="span6">
                    <h1>{% trans "About" %}<small class="small">{% trans 'What is PyCon Uruguay?' %}</small></h1>
                    <p class="box-text">
                        {% url 'main:sponsors' as sponsors_url %}
                        {% with "volunteers" as volunteers_url %}
                        {% blocktrans %}
                        <strong>PyCon</strong> is the annual conference for the community using and developing the open-source Python programming language.
                        PyCon UY is an event organized by the Uruguayan Python community that mainly seeks to introduce and promote this wonderful language in Uruguay and the region.
                        Our objective is to offer universal access to Python and related tools, that's why we keep the registration at FREE cost, thanks to many <a href="{{ volunteers_url }}">volunteers</a> and <a href="{{ sponsors_url }}">sponsors</a>.
                        {% endblocktrans %}
                        {% endwith %}
                    </p>
                    <p class="about-small">
                        {% blocktrans %}We have been already conquered by python and are now committed to bringing it to the edge. It is time that you also meet it and start building beautiful software together.{% endblocktrans %}
                    </p>
                    <a href="{% page_id_url 'about' %}" class="link">{% trans '> Read more' %}</a>
                </div>
            </div>
            <div class="row box-social">
                <div class="span4">
                    <div class="fb-like-box" data-href="http://www.facebook.com/PyConUy" data-width="300" data-height="63" data-show-faces="false" data-stream="false" data-header="false"></div>
                </div>
                <div class="span2 ">
                     <span class="twitter-link">
                    <a  href="https://twitter.com/intent/tweet?button_hashtag=PyConUy" class="twitter-hashtag-button" data-size="large" data-related="PyConUy">Tweet #PyConUy</a>
                    <a  href="https://twitter.com/PyConUy" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @PyConUy</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    </span>
                </div>
            </div>
        </div>
        <div class = "span6">
            <div class="row">
                <div class="span6">
                    <h1>
                        {% if config.can_add_proposal %}
                            <a class="button button-blue pull-right" href="{% url 'main:proposal_add' %}">{% trans 'Send a proposal' %}</a>
                        {% endif %}

                        {% trans 'Call for Proposals' %}
                    </h1>
                    <div class="box-text back box-yellow">
                        <p class="text-top"><strong>{% trans 'Opens' %}</strong> > {{ config.call_for_proposals_open|date:''|default:_('Coming soon!') }}</p>
                        <p class="text-bottom"><strong>{% trans 'Deadline' %}</strong> > {{ config.call_for_proposals_deadline|date:''|default:_('Coming soon!') }}</p>
                        <p class="text-bottom"><strong>{% trans 'Acceptance' %}</strong> > {{ config.call_for_proposals_acceptance|date|default:_('Coming soon!') }}</p>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="span6">
                    <h1>{% trans 'When' %}<small class="small">{% trans 'What appointments should I cancel?' %}</small></h1>
                    <div class="box-text back box-yellow">
                        <p class="text-top">{{ config.event_start_date|date:''|default:_('Coming soon!') }}</p>
                        {% if config.event_start_date %}
                            <p class="text-bottom"><strong>{% trans 'Talks' %}</strong> > {{ config.event_talks_date|date:''|default:_('Coming soon!') }}</p>
                            <p class="text-bottom"><strong>{% trans 'Sprints' %}</strong> > {{ config.event_sprints_date|date:''|default:_('Coming soon!') }}</p>
                        {% endif %}
                    </div>
                    {% if config.event_start_date %}
                    <a href="{% url 'main:schedule' %}" class="button button-yellow over pull-right">{% trans 'Schedule it' %}</a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="span6">
                    <h1>{% trans 'Where' %}<small class="small">{% trans 'Take me there!' %}</small></h1>

                    <div class="box-text back box-blue">

                        <p class="text-top">{{ config.venue_name|default:_('Coming soon!') }}</p>
                        {% if config.venue_name %}
                        {% if config.venue_long_name %}
                        <p class="text-bottom">{{ config.venue_long_name }}</p>
                        {% endif %}
                        <p class="text-bottom">{{ config.venue_address }}</p>
                        {% endif %}
                    </div>
                    {% if config.venue_link %}
                    <a rel="nofollow" class="button button-blue over pull-right" href="{{ config.venue_link }}">
                        {% trans 'View map' %}
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                {% if settings.SHOW_VIDEOS_OPTION %}
                <div class="span6">
                    <h1>{% trans 'Videos' %}<small class="small">{% trans 'Watch the talks' %}</small></h1>

                    <div class="box-text back box-blue">
                        <p class="text-top">{% trans "Don't miss any detail, watch your favorite talks again." %}</p>
                        <a class="button button-blue pull-right" href="{% page_url 'event-videos' %}">{% trans 'Event videos' %}</a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
{{ block.super }}
{% endblock %}
