{% extends 'base.html' %}

{% load i18n %}
{% load cms_tags %}
{% load background_tags  %}
{% load url from future %}

{% block meta_title %}{% trans 'Schedule' %} - {{ block.super }}{% endblock %}
{% block meta_description %}{% trans 'Schedule for PyCon 2013 Uruguay' %}{% endblock %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block class %}no-slider about{% endblock %}
{% block content %}

    {% regroup sessions by date as days %}

    {% for day in days %}
        {% if day.grouper %}
            <div class="row">
                <div class="span12">
                    <h1>{{ day.grouper }}</h1>

                    {% for session in day.list %}
                        <table class="table  table-bordered table-condensed">
                            <thead>
                                <tr>
                                    <th>{% trans 'Time' %}</th><th>{% trans 'Level' %}</th><th>{% trans 'Talk' %}</th><th>{% trans 'Presenter' %}</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for slot in session.sorted_slots %}
                                    {% if slot.is_presentation %}
                                        {% with slot.get_presentation as presentation %}
                                            <tr>
                                                <td>{{ presentation.slot.start|date:'H:i' }}</td>
                                                <td>{{ presentation.get_audience_level_display }}</td>
                                                <td><a href="{% url 'main:talks' %}#{{ presentation.title }}">{{ presentation.title }}</a></td>
                                                <td>
                                                    <a href="{% url 'main:speakers' %}#{{ presentation.speaker.name }}">{{ presentation.speaker.name }}</a>{% for speaker in presentation.additional_speakers.all %}, <a href="{% url 'main:speakers' %}#{{ speaker.name }}">{{ speaker.name }}</a>{% endfor %}
                                                </td>
                                            </tr>
                                        {% endwith %}
                                    {% else %}
                                        <tr class="{{ slot.get_class }}">
                                            <td>{{ slot.start|date:'H:i' }}</td>
                                            <td colspan=3>{{ slot.get_kind_display }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <div class="row">
        <div class="span12">
            <a class="button button-yellow" href="{% url 'account:sign_up' %}">{% trans 'Sign up now!' %}</a>
        </div>
    </div>
{% endblock %}

{% block js %}
{{ block.super }}
{% endblock %}
